* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e6ecf0;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    text-rendering: optimizeLegibility !important; /*para sempre sobrescrever e deixar a font com esse estilo q eh melhor*/
    -webkit-font-smoothing: antialiased !important;
}

input,button {
    outline: 0; /*tirar a selecao do item ao clicar*/
}

.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px; /*para quando diminuir a tela de lado, n colar na borda*/
}

header#main-header {
    
    height: 46px;
    background: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25); /* linha*/
    position: relative; /*pra o header ficar por cima do banner e aparecer a linha*/
    z-index: 1; /*pra o header ficar por cima do banner e aparecer a linha*/

}

header#main-header .content { /*add a div content para deixar os items mais no centro*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header#main-header nav ul {
 display: flex;
 list-style: none;
 

}


header#main-header nav li {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #667580;
    font-weight: bold;
    margin-left: 30px;
   }

header#main-header nav ul li:first-child {
    margin-left: 0; /* primeiro li sem margem o resto com*/
}

header#main-header nav li img {
    margin-right: 7px;
    height: 35px;
    width: 35px;

}


header#main-header img {
    height: 29px;
    width: 29px;
}

header#main-header div.side {
    display: flex; /* só fazer isso que ele se ajusta e cabe tudo certinho*/
    
}

header#main-header div.side input {
    width: 220px;
    border: 1px solid #e6ecf0;
    height: 34px;
    padding: 0 35px 0 12px; /*cima, direita, baixo, esquerda*/
    border-radius: 16px;    
    color: #667581;
    font-size: 12px;
    background:  #f5f8fa url('images/search.svg') no-repeat 190px;
}

header#main-header div.side img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0 15px; /*setando 15px nas laterais(em cima e baixo estao zerados*/
}

header#main-header div.side button {
    height: 34px;
    width: 90px;

    font-weight: bold;

    background: #575c5e;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    color: #FFF;
    border: 0;
    border-radius: 16px;
    
}

div.banner {
    padding: 0;
    height: 380px;
    width: 100%;
    background: #3bb9e3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;

}

div.bar {
    height:59px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
}

div.bar .content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 285px;
    height: 100%; /*para alinhar*/

}

div.bar .content ul {
    list-style: none;
    display: flex;
    height: 100%;
}

div.bar .content ul li {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    align-items: center;
    justify-content: center; /*verticalmente*/
    position: relative; /*somente para oferecer sua posição ao position absolute embaixo*/
} 

div.bar .content ul li.active::after { /*o after é posicionado antes do fechamento da tag*/
    content: "";
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #3bb9e3;
    position: absolute; /*usa a posição de outro elemento(nesse caso usou do position relative acima*/
} 

div.bar .content ul li.active strong {
    color: #3bb9e3;
}


div.bar .content ul li span {
    color: #667580;
    font-size: 12px;
    font-weight: bold;
}


div.bar .content ul li strong {
    font-size: 18px;
    font-weight: bold;
    color: #667580;
    margin-top: 2px;
}

div.bar .content .actions {
    display: flex;
    margin-right: 20px;
}

div.bar .content .actions button {
    height: 34px;
    align-items: center;
    justify-content: center;
    display: flex;

    width: 90px;
    font-weight: bold;
    font-size: 14px;
    color: #3bb9e3;
    border: 1px solid #3bb9e3;
    border-radius: 16px;
    
}


div.wrapper-content {
    display: flex;
}

div.wrapper-content .profile {
    width: 250px;
}

div.wrapper-content .profile #perfil  {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #FFF;
    margin-top: -130px;
    margin-bottom: 10px;
}

div.wrapper-content .profile img {
    height: 20px;
    width: 20px;
}

div.wrapper-content .profile h1 {
    font-size: 21px;
    color: #1f2226;

}

div.wrapper-content .profile span {
    font-size: 14px;
    color: #53626C;   
}


div.wrapper-content .profile p {
    font-size: 14px;
    color: #1f2226;   
    margin-top: 15px;
}

div.wrapper-content .profile ul {
    margin-top: 20px;
    list-style: none;
}

div.wrapper-content .profile ul.list li {
    font-size: 14px;
    color: #657786;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

div.wrapper-content .profile li:first-child {
    margin: 0;
}


div.wrapper-content .profile li img {
    margin-right: 10px;
}

div.wrapper-content .profile .widget {
    margin-top: 20px;
}

div.wrapper-content .profile .widget strong {
    font-weight: normal;
    color: #3bb9e3;
    font-size: 14px;
    display: flex;
    align-items: center;
}

div.wrapper-content .profile .widget img {
    margin-right: 5px;
}

div.wrapper-content aside.profile .followers ul {
    list-style: none;
    display: flex; /*quebrar linha se necessario*/
    flex-wrap: wrap; /*quebrar linha se necessario*/
    align-items: flex-start;
}


div.wrapper-content aside.profile .followers ul li {
    width: 45px;
    height: 45px;
    background: #d0d5d9;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 0 5px 10px 0; /*cima horizontal em baixo*/
    flex: 1 0 auto; /*so para aumentar e ocupar o container todo flex grow:1*/
}

div.wrapper-content aside.profile .images ul {
    list-style: none;
    display: flex; /*quebrar linha se necessario*/
    flex-wrap: wrap; /*quebrar linha se necessario*/
    align-items: center;
    justify-items: center;
    flex-direction: row;

}

div.wrapper-content aside.profile .images ul li {
    width: 70px;
    height: 70px;
    background: #d0d5d9;
    border-radius: 8%;
    flex-shrink: 0;
    margin: 0 5px 5px 0; /*cima horizontal em baixo*/
    flex: 1 0 auto; /*so para aumentar e ocupar o container todo flex grow:1*/
}

div.wrapper-content aside.widgets .widget {
    background: #FFF;
    padding: 15px;
}

div.wrapper-content .timeline {
    flex: 1;
}

div.wrapper-content .widget {
    width: 290px;
}

div.wrapper-content aside.widgets {
    width: 290px;
    margin-top: 10px;
}

div.wrapper-content aside.widgets .widget .title {
    display: flex;
    align-items: baseline; /*Alinhar textos*/
    flex-wrap: wrap;
}

div.wrapper-content aside.widgets .widget .title strong {
    font-size: 18px;
    color: #1f2226;
}

div.wrapper-content aside.widgets .widget .title a {
    color: #3bb9e3;
    font-size: #3bb93b;
    text-decoration: none;
    position: relative;
    padding-left: 2px;
    margin-left: 10px;
}

div.wrapper-content aside.widgets .widget .title > a::before { /*pegar so do primeiro nivel*/
    content: "";
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    left: 4px;
    top: 6px;
    margin-left: -8px;
    
}


div.wrapper-content aside.widgets .widget .title .profile  {
    display: flex;
    align-items: center;
}

div.wrapper-content aside.widgets .widget .title .profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

div.wrapper-content aside.widgets .follow ul {
    margin-top: 10px;
    list-style: none;
}

div.wrapper-content aside.widgets .follow ul li {
    display: flex;
    justify-content: space-between;    
    border-bottom: 1px solid #ccd6dd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

div.wrapper-content aside.widgets .follow ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}

div.wrapper-content aside.widgets .info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

div.wrapper-content aside.widgets .info strong {
    font-size: 14px;
    color: #1f2226;
}


div.wrapper-content aside.widgets .info strong span {
    font-weight: normal;
    color: #1f2226;
    color: #9a9a9a;

}

div.wrapper-content aside.widgets .info button {
    height: 27px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 4px;
    width: 90px;
    font-weight: bold;
    font-size: 14px;
    color: #3bb9e3;
    border: 1px solid #3bb9e3;
    border-radius: 16px;

}

div.wrapper-content aside.widgets .widget .title ul li > a { /*para pegar somente o a no primeiro nivel*/
    color: #ccd6dd;
    text-decoration: none;
    font-size: 14px;
    margin-right: -5px;
    
}